<div class="hero_area">
  <div class="hero_bg_box">
    <img src="assets/images/hero-bg.png" alt="">
  </div>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Nous offrons les meilleurs soins de santé
                  </h1>
                  <p>
                    Dewini, conçue pour simplifier la gestion des établissements de santé grâce à des outils intégrés et sécurisés. Notre solution centralise les opérations médicales courantes, optimise les workflows et améliore l'expérience des patients comme du personnel.
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Voir Plus
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Nous offrons les meilleurs soins de santé
                  </h1>
                  <p>
                    Dewini, conçue pour simplifier la gestion des établissements de santé grâce à des outils intégrés et sécurisés. Notre solution centralise les opérations médicales courantes, optimise les workflows et améliore l'expérience des patients comme du personnel.
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Voir Plus
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Nous offrons les meilleurs soins de santé
                  </h1>
                  <p>
                    Dewini, conçue pour simplifier la gestion des établissements de santé grâce à des outils intégrés et sécurisés. Notre solution centralise les opérations médicales courantes, optimise les workflows et améliore l'expérience des patients comme du personnel.                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Voir Plus
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>

  </section>
  <!-- end slider section -->
</div>


<!-- department section -->

<section class="department_section layout_padding">
  <div class="department_container">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Nos Departements
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img src="assets/images/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Consultations
              </h5>
              <p>
                Prise de rendez-vous en ligne avec suivi en temps réel
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img src="assets/images/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Numérisation
              </h5>
              <p>
                Dossiers médicaux numérisés et accessibles (protégés par chiffrement)
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img src="assets/images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Rendez-vous
              </h5>
              <p>
                Calendrier intelligent avec alertes (SMS/email) pour éviter les absences. Synchronisation avec les agendas des médecins et patients.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img src="assets/images/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Dons Sanguins
              </h5>
              <p>
                Organisation de campagnes de don avec suivi des stocks par groupe sanguin. Alertes automatisées pour les réserves critiques
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Voir Tout
        </a>
      </div>
    </div>
  </div>
</section>

<!-- end department section -->

<!-- about section -->

<section class="about_section layout_margin-bottom">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/images/about-img.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              À propos de nous
            </h2>
          </div>
          <p>
            🌿 Dewini : Plateforme Médicale Tout-en-Un Dewini est une application innovante développée par l'équipe Dewini, conçue pour simplifier la gestion des établissements de santé grâce à des outils intégrés et sécurisés. Notre solution centralise les opérations médicales courantes, optimise les workflows et améliore l'expérience des patients comme du personnel. ✨
          </p>
          <a href="">
            Voir Plus
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- doctor section -->

<section class="doctor_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Nos Docteurs
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/d1.jpg" alt="">
          </div>
          <div class="detail-box">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <h5>
              Elina Josh
            </h5>
            <h6 class="">
              Doctor
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/d2.jpg" alt="">
          </div>
          <div class="detail-box">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <h5>
              Adam View
            </h5>
            <h6 class="">
              Doctor
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/d3.jpg" alt="">
          </div>
          <div class="detail-box">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <h5>
              Mia Mike
            </h5>
            <h6 class="">
              Doctor
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        Voir Tout
      </a>
    </div>
  </div>
</section>

<!-- end doctor section -->

<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        ENTRER EN CONTACT
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container contact-form">
          <form action="">
            <div class="form-row">
              <div class="col-lg-6">
                <div>
                  <input type="text" placeholder="Your Name" />
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <input type="text" placeholder="Phone Number" />
                </div>
              </div>
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="btn_box">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container">
          <div class="map">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->

<!-- client section -->

<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center ">
      <h2>
        Témoignage
      </h2>
    </div>
    <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-11 col-lg-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="assets/images/client.jpg" alt="" />
                </div>
                <div class="detail-box">
                  <div class="name">
                    <h6>
                      Alan Emerson
                    </h6>
                  </div>
                  <p>
                    Enim consequatur odio assumenda voluptas voluptatibus esse nobis officia. Magnam, aspernatur nostrum explicabo, distinctio laudantium delectus deserunt quia quidem magni corporis earum inventore totam consectetur corrupti! Corrupti, nihil sunt? Natus.
                  </p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-11 col-lg-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="assets/images/client.jpg" alt="" />
                </div>
                <div class="detail-box">
                  <div class="name">
                    <h6>
                      Alan Emerson
                    </h6>
                  </div>
                  <p>
                    Enim consequatur odio assumenda voluptas voluptatibus esse nobis officia. Magnam, aspernatur nostrum explicabo, distinctio laudantium delectus deserunt quia quidem magni corporis earum inventore totam consectetur corrupti! Corrupti, nihil sunt? Natus.
                  </p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-11 col-lg-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="assets/images/client.jpg" alt="" />
                </div>
                <div class="detail-box">
                  <div class="name">
                    <h6>
                      Alan Emerson
                    </h6>
                  </div>
                  <p>
                    Enim consequatur odio assumenda voluptas voluptatibus esse nobis officia. Magnam, aspernatur nostrum explicabo, distinctio laudantium delectus deserunt quia quidem magni corporis earum inventore totam consectetur corrupti! Corrupti, nihil sunt? Natus.
                  </p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn-container">
        <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- end client section -->


