<section class="not-found-section">
  <div class="not-found-container">
    <!-- Illustration -->
    <div class="illustration">
      <img src="assets/images/undraw_file-search_cbur.svg" alt="Illustration de page non trouvée" />
    </div>
    <!-- Message principal -->
    <div class="message">
      <h1>Oups ! La page que vous recherchez n'existe pas.</h1>
      <p>Il semble que vous ayez pris un chemin inconnu. Ne vous inquiétez pas, nous sommes là pour vous guider.</p>
    </div>
    <!-- Options d'action -->
    <div class="actions">
      <a routerLink="/home"><button class="btn-primary">Retourner à l'accueil</button></a>
    </div>
  </div>
</section>
